*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    height:100vh;
    width: 200px;
    background-color: black;
    position: fixed;
    top:0;
    left: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.sidebar ul li{
    list-style: none;
    height: 60px;
    width: 100%;
}
.sidebar ul li a{
    text-decoration: none;
    color:#fff;
}
.sidebar.active{
    left:0;
}

.toggler{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: fixed;
    top:10px;
    right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggler::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: black;
    transform: translateY(-5px);
}
.toggler::after{
    content: "";
    height: 2px;
    position: absolute;
    width: 50%;
    background-color: black;
    transform: translateY(5px);
}

.toggler.active::before{
    transform: translateY(0) rotate(45deg);
}

.toggler.active::after{
    transform: translateY(0)rotate(-45deg);
}
